%h1.text-center.large-heading About us
%p.text-center
  No us just 
  %span.bevan
    me. 
  So if a I can build this simple web app so can 
  %span.bevan
    YOU! 
.toni-portrait
  = image_tag ('picture-toni.jpg')


