.text-center
  %h1.large-heading Help
  %p This app is really easy to use if you know how the real Yelp app works.
  %p If not you can watch quick video presentation on
  %span.cl-effect-12
    %a(href='#')LiveCoding.tv

