%h1.text-center.large-heading My Settings

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation' class='active')
        %a(href='#') Settings
      %li(role='presentation')
        %a(href='#') Reviews
      %li(role='presentation')
        %a(href='#') Friends
      %li(role='presentation')
        %a(href='#') Company
      %li(role='presentation')
        %a(href='#') Add new Company
      %li(role='presentation')
        %a(href='#') Add new Category
      %li(role='presentation')
        %a(href='#') Flags
  .col-md-9
    %br
    .form-sign-up-log-in
      %form.form-horizontal
        .form-group
          %label(for='full_name' class='col-sm-4 control-label') Full Name
          .col-sm-7
            %input(type='text' class='form-control' id='full_name' value='Toni Cesarek' placeholder='Write your full name...' autofocus)
        .form-group
          %label(for='password' class='col-sm-4 control-label') Password
          .col-sm-7
            %input(type='password' class='form-control' id='password' placeholder='Your password goes here...')
        .form-group
          %label(for='full_name' class='col-sm-4 control-label')
            Change account role
          .col-sm-7
            %label(class='checkbox-inline')
              %input(type='radio' name='box-1' value='user' checked)
              User
            %label(class='checkbox-inline')
              %input(type='radio' name='box-1' value='owner')
              Business Owner
        .form-group
          .col-sm-offset-4.col-sm-10
            %button(type='submit' class='btn btn-primary') Save
