%h1.text-center.large-heading Edit City
%br
.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation')
        %a(href='#') Settings
      %li(role='presentation')
        %a(href='#') Reviews
      %li(role='presentation')
        %a(href='#') Friends
      %li(role='presentation')
        %a(href='#') Company
      %li(role='presentation')
        %a(href='#') Add new Company
      %li(role='presentation')
        %a(href='#') Categories
      %li(role='presentation' class='active')
        %a(href='#') Add new Category
      %li(role='presentation')
        %a(href='#') Flags
  .col-md-6
    %br
    .form-sign-up-log-in
      %form.form-horizontal
        .form-group
          %label(for='city' class='col-sm-4 control-label') City
          .col-sm-7
            %input(type='text' class='form-control' id='city'  placeholder='Write name of the City...' autofocus value='Ljubljana')
        .form-group
          %label(for='country' class='col-sm-4 control-label' vlaue='Slovenia') Country
          .col-sm-7
            %input(type='text' class='form-control' id='country'  placeholder='Write name of the Country...' value='Slovenia')
        .form-group
          .col-sm-offset-4.col-sm-10
            %button(type='submit' class='btn btn-primary') Save
