.container
  .row
    .col-md-2.text-center
      %h1 Yelp
      %p clone app
    .col-md-7.col-md-offset-1
      %form.form-inline
        .form-group
          %input(type='text' class='form-control' size=35
                 placeholder='find the business...')
          %select.form-control
            %option all citys
            %option Ljubljana
            %option Berlin
            %option Paris
            %option New york
            %option Los Angeles
          %select.form-control
            %option all categoris
            %option Restrurants
            %option Travel
            %option Spa
            %option Hotels
            %option Health
          %button(type='submit' class='btn btn-default')
            Search
    .col-md-2
      %span.dropdown.pull-right
        %a(class="dropdown-toggle btn btn-primary" data-toggle="dropdown"
          href="#" role="button" aria-haspopup="true" aria-expanded="false")
          Toni C.
          %span.caret
        %ul.dropdown-menu
          %li
            %a 
              %span.glyphicon.glyphicon-user 
                %span 3
              %span.glyphicon.glyphicon-star
                %span 12
          %li
            %a(href='#') About Me
          %li
            %a(href='#') Account Settings
          %li(role='separator' class='divider')
          %li
            %a(href='#') Log Out
    .col-md-8.col-md-offset-2
      .nav.nav-pills.main-navigation
        %li(role='presentation' class='active')
          %a(href='#') Home
        %li(role='presentation')
          %a(href='#') About me
        %li(role='presentation')
          %a(href='#') Write a review
        %li(role='presentation')
          %a(href='#') Find friends
        %li(role='presentation')
          %a(href='#') Messages
        %li(role='presentation')
          %a(href='#') Help



-# <ul class="nav nav-pills">
-#   <li role="presentation" class="active"><a href="#">Home</a></li>
-#   <li role="presentation"><a href="#">Profile</a></li>
-#   <li role="presentation"><a href="#">Messages</a></li>
-# </ul>



-# <select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
-# </select>
-#
-# <form class="form-inline">
-#   <div class="form-group">
-#     <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
-#     <div class="input-group">
-#       <div class="input-group-addon">$</div>
-#       <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
-#       <div class="input-group-addon">.00</div>
-#     </div>
-#   </div>
-#   <button type="submit" class="btn btn-primary">Transfer cash</button>
-# </form>
-#
-#
-#
-#
-#
-#
