%h1.text-center Recent reviews
.review
  .row
    %a(href='#') Toni. C
    wrote a review for
    %a(href='#') Kasca Mrlacnik
    %span.pull-right= fa_icon 'clock-o', text: '1 minute ago'
  .row
    .star-rating
      %fieldset
        %input#star5{:name => "rating", :type => "radio", :value => "5"}/
        %label{:for => "star5", :title => "Outstanding"} 5 stars
        %input#star4{:name => "rating", :type => "radio", :value => "4"}/
        %label{:for => "star4", :title => "Very Good"} 4 stars
        %input#star3{:name => "rating", :type => "radio", :value => "3"}/
        %label{:for => "star3", :title => "Good"} 3 stars
        %input#star2{:name => "rating", :type => "radio", :value => "2"}/
        %label{:for => "star2", :title => "Poor"} 2 stars
        %input#star1{:name => "rating", :type => "radio", :value => "1"}/
        %label{:for => "star1", :title => "Very Poor"} 1 star

-#
-# <div class="star-rating">
-#   <fieldset>
-#     <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
-#     <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Very Good">4 stars</label>
-#     <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">3 stars</label>
-#     <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor">2 stars</label>
-#     <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very Poor">1 star</label>
-#   </fieldset>
-# </div>
