%h1.text-center.large-heading Log in
%br

.form-sign-up-log-in
  %form.form-horizontal
    .form-group
      %label(for='full_name' class='col-sm-4 control-label') Full Name
      .col-sm-7
        %input(type='text' class='form-control' id='full_name' placeholder='Write your full name...' autofocus)
    .form-group
      %label(for='password' class='col-sm-4 control-label') Password
      .col-sm-7
        %input(type='password' class='form-control' id='password' placeholder='Your password goes here...' )
    .form-group
      .col-sm-offset-4.col-sm-10
        %button(type='submit' class='btn btn-primary') Log in
