%h1.text-center.large-heading Message
%h3.text-center from Marc Gray

.row
  .col-md-10.col-md-offset-1
    %h3(class='open-sans text-center') Well helo there my old friend
    %p  loreNe illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.m
    %br
    %a(href='#' class='btn btn-primary')= fa_icon 'share', text: 'reply'
    %a(href='#' class='btn btn-primary')= fa_icon 'tag', text: 'important'
    %a(href='#' class='btn btn-primary')= fa_icon 'trash-o', text: 'delete'

%br
.text-center
  %a(href='#' class='btn btn-lg btn-default default-button') Back
