%h1.text-center.large-heading New Review
%h3.text-center for Mcdonalds

.row
  .col-md-9
    %br
    %form.form-sign-up-log-in
      .star-rating.big-stars
        %fieldset
          %input#star5{:name => "rating", :type => "radio", :value => "5"}/
          %label{:for => "star5", :title => "Outstanding"} 5 stars
          %input#star4{:name => "rating", :type => "radio", :value => "4"}/
          %label{:for => "star4", :title => "Very Good"} 4 stars
          %input#star3{:name => "rating", :type => "radio", :value => "3"}/
          %label{:for => "star3", :title => "Good"} 3 stars
          %input#star2{:name => "rating", :type => "radio", :value => "2" }/
          %label{:for => "star2", :title => "Poor"} 2 stars
          %input#star1{:name => "rating", :type => "radio", :value => "1"}/
          %label{:for => "star1", :title => "Very Poor"} 1 star
      %textarea.rating-textarea
      %input(type='submit' class='btn btn-primary btn-lg' value='Save')
      %a(href='#' type='submit' class='btn btn-default default-button btn-lg') Back
