%h1.text-center.large-heading Tutorial
%p 
  This app is really easy to use if you know how the real Yelp app works. If not you can watch quick video presentation on 
  %span.cl-effect-12
    %a(href='#') Livecoding.tv. 

%br
