/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 */

$brown:        #661505
$green:        #056640
$light_brown:  #B22104
$orange:       #FF8812

/////////////////////////
// Bootstrap variables//
///////////////////////

$font-size-base: 18px
$line-height-base: 1.6

// fonts
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica
$headings-font-family: 'Bevan'

// buttons
$btn-default-color: lighten($brown, 15%)
$btn-default-bg: rgba(#fff, 0.0)
$btn-info-bg: $light_brown

// forms
$input-border: $brown
$input-bg: rgba(#fff, 0.0)
$input-color: $brown
$input-border-focus: $brown
$input-color-placeholder: $brown
$btn-default-border: $brown

// alert colors
$state-danger-text: red
$state-danger-bg: white
$state-danger-border: darken($state-danger-bg, 5%)

// dropdowns
$dropdown-bg: #fff
$nav-link-hover-bg: rgba($green, 0.8)

// tables
$table-bg-hover: rgba(#fff, 1.0)
$table-bg-accent: rgba(#fff, 0.7)
$table-border-color: lighten(desaturate($brown, 40%), 50%)

$gray-base: $brown
$gray-dark: $brown
$brand-primary: $brown

$link-hover-decoration: none

@import "bootstrap-sprockets"
@import "bootstrap"
@import font-awesome
@import 'stars'
@import 'turbolinks'
@import 'hover_effects'

body

  background: -webkit-linear-gradient(90deg, #FF512F 10%, #F09819 90%) /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FF512F 10%, #F09819 90%) /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FF512F 10%, #F09819 90%) /* IE10 */
  background:      -o-linear-gradient(90deg, #FF512F 10%, #F09819 90%) /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FF512F 10%, #F09819 90%) /* W3C */

::selection
  background-color: $brown
  color: #fff

::-moz-selection
  background-color: $brown
  color: #fff

main .container
  min-height: 600px

main a
  color: $green


.dropdown-menu .glyphicon
  padding-right: 30px

.container
  margin-top:        10px
  padding:           10px
  background-color:  rgba(white, 0.8)
  border-radius:     10px

.search-form
  width: 500px

.main-navigation
  margin-top: 16px
  margin-bottom: 8px
  a:hover, a:focus
    color: #fff

p
  color: #333

.review
  margin: 20px
  p
    text-align: justify

hr
  border-color: $brown

.light_brown
  color: darken($light_brown, 7%)
  padding-top: 12px

.useful-funny-cool-btn
  width: 110px
  margin-left: 5px

.bevan
  font-family: 'Bevan'

.large-heading
  font-size: 3.5em

// navigation
.navigation-container
  position: relative

.logo
  position: absolute
  top: 5px
  left: 30px

.logo-subheading
  position: relative
  top: -20px

.time-ago
  color: $light_brown

.default-button
  color: $brown
  &:hover
    color: $light_brown
    border-color: $light_brown

footer .container
  background-color: rgba(#fff, 0.0)
  padding-top: 120px
  padding-bottom: 120px
  .ruby-icon
    font-size: 186%
  .ruby
    font-variant: small-caps
    font-weight: 800
    font-size: 150%

.more-reviews-button
  margin-top:     70px
  margin-bottom:  40px

.welcome-text
  width: 900px
  padding-bottom: 30px
  margin: 0 auto

.tutorial
  width: 164px
  margin-bottom: 4px
  height: 60px
  line-height: 46px
  margin-left: 4px

a:hover
  color: $green

.toni-portrait
  text-align: center
  img
    border-radius: 50%
    margin-top: 40px
    margin-bottom: 60px

.form-sign-up-log-in
  width: 700px
  margin: 0 auto

.sum-reviews
  padding-left: 40px
  font-size: 0.8em

.company-name
  font-size: 2em

.company-stars
  margin-left: -12px

.review-stars
  font-size: 150%
  color: $star_color

.average-stars
  font-size: 150%
  color: $light_brown

.company-reviews
  font-size: 0.8em
  color: $light_brown
  padding-left: 20px

.eur-all
  margin-left: -12px
  font-size: 1.5em

.eur-all-search
  margin-left: -12px
  font-size: 1.1em

.eur-full
  color: $light_brown

.eur-empty
  color: lighten(desaturate($light_brown, 30%), 40%)

.address
  padding-top: 17px

.nav-stacked li a
  border: 2px solid $brown
  color: $brown
  margin-top: -4px
  &:hover, &:focus
    color: white

.list-of-friends
  margin-top: 20px
  margin-left: 20px
  list-style-type: none
  a
    font-size: 1.5em
  i
    font-size: 1.5em

a.smaller-icon
  font-size: 1.5em
  color: $light_brown
  margin-left: 20px
  &:hover
    color: $green

.category-icon
  color: $light_brown
  padding-left: 20px

.list-of-categories
  font-size: 1.5em

.list-of-flags
  font-size: 1.2em
  li
    border-bottom: 1px solid $brown
    padding: 0 0 20px 0
    margin: 0 0 40px 0
  li:last-child
    border-bottom: none

#message_content.rating-textarea,
.rating-textarea
  background-color: rgba(#fff, 0.0)
  border: 1px solid $brown
  border-radius: 5px
  width: 700px
  height: 400px
  padding: 10px

.big-stars
  font-size: 150%

.fa-user-secret,
.fa-child,
.fa-street-view
  color: desaturate(lighten($green, 3%), 1%)

.nav.nav-tabs
  border-color: $brown
  padding-right: 0
  a
    border-color: $brown
    color: $brown
    &:hover, &:focus
      color: #fff
  .active
    a
      border-color: $brown
      background-color: $brown
      color: #fff
      &:hover, &:focus
        border-color: $brown
        background-color: $brown
        color: #fff

.green.smaller-icon
  color: $green

.green
  color: $green

.search-friend
  width: 355px
  margin: 0 auto

table 
  tr
    height: 60px
    a
      margin-top: 7px

.table-padding-cell
  padding-top: 15px !important

.open-sans
  font-family: 'Open Sans'

.red
  color: $light_brown

.submit-form-button
  margin-left: 233.328px + 10px
